<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Week10_G2L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
'''
Exercise L5.1

Develop a module to calculate volume for CO2 gas at certain 
mass, pressure and temperature. 
Given: R = 0.08206 L (atm)/K (mol) 
Use each of the equation as a function inside the module
--> n = m/Mw
--> V = nRT/P

By using developed module, compute and display result 
for CO2 volume in cases below:
Case 1: m = 32 g, P = 50 atm, T = 325 K 
Case 2: m = 25 g, P = 70 atm, T = 450 K

'''

import module2 as m2

#Case 1: m = 32 g, P = 50 atm, T = 325 K
ans = m2.V(32,50,325)
print('Case 1: V = %0.5fL' %ans)

#Case 2: m = 25 g, P = 70 atm, T = 450 K
ans = m2.V(25,70,450)
print('Case 2: V = %0.5fL' %ans)

Case 1: V = 0.00918L
Case 2: V = 0.00725L

In [9]:
from module2 import V

ans = V(32,50,325)
print('Case 1: V = %0.5fL'
       %ans)

Case 1: V = 0.00918L

In [13]:
class House:
  door = 5
  room = 3

h1 = House()
h1.door = 8
h2 = House()
h2.door = 6

print(h1.door)
print(h2.door)

8
6

In [14]:
class CN:
  def __init__(self,r,i):
    self.real = r
    self.imag = i

  def get_num(self):
    m,n = self.real, self.imag
    print('%d + %di'%(m,n))  # Output example: 3 + 4i

In [15]:
c = CN(3,4)
c.get_num()

3 + 4i

In [29]:
class Student():

  def __init__(self):
    self.studentList = []
  
  def AddStudent(self,name):
    self.studentList.append(name)

  def displayList(self):
    print(self.studentList)

In [18]:
s1 = Student()
s1.AddStudent('ABC')

In [19]:
i = 0

while True:
  i = i + 1
  if i > 5:
    break
  else:
    print(i)

1
2
3
4
5

In [25]:
while True:
  print('========= Menu ========')
  print('Select on the below:')
  print('1 - Data Entry')
  print('2 - Exit')
  print('-----------------------')
  opt = input('Selection: ')

  if opt == '1':
    print('Data Entry')
  elif opt == '2':
    print('Good bye..')
    break
  else:
    print('Wrong selection. Please try again!!')
  print('\n')

========= Menu ========
Select on the below:
1 - Data Entry
2 - Exit
-----------------------
Selection: 1
Data Entry


========= Menu ========
Select on the below:
1 - Data Entry
2 - Exit
-----------------------
Selection: 1
Data Entry


========= Menu ========
Select on the below:
1 - Data Entry
2 - Exit
-----------------------
Selection: 1
Data Entry


========= Menu ========
Select on the below:
1 - Data Entry
2 - Exit
-----------------------
Selection: 2
Good bye..

In [ ]:
s = Student()
count = 0
while True:
  print('========= Menu ========')
  print('Select on the below:')
  print('1 - Data Entry')
  print('2 - Exit')
  print('-----------------------')
  opt = input('Selection: ')

  if opt == '1':
    count = count + 1
    print('Data Entry: %d' %count)
    s.AddStudent(input('Name: '))
  elif opt == '2':
    print('Good bye..')
    break
  else:
    print('Wrong selection. Please try again!!')
  print('\n')

In [30]:
s = Student()
count = 0
while True:
  print('========= Menu ========')
  print('Select on the below:')
  print('1 - Data Entry')
  print('2 - Display Students')
  print('3 - Exit')
  print('-----------------------')
  opt = input('Selection: ')

  if opt == '1':
    count = count + 1
    print('Data Entry: %d' %count)
    s.AddStudent(input('Name: '))
  elif opt == '2':
    s.displayList()
  elif opt == '3':
    print('Good bye..')
    break
  else:
    print('Wrong selection. Please try again!!')
  print('\n')

========= Menu ========
Select on the below:
1 - Data Entry
2 - Display Students
3 - Exit
-----------------------
Selection: 1
Data Entry: 1
Name: ABC


========= Menu ========
Select on the below:
1 - Data Entry
2 - Display Students
3 - Exit
-----------------------
Selection: 1
Data Entry: 2
Name: DEF


========= Menu ========
Select on the below:
1 - Data Entry
2 - Display Students
3 - Exit
-----------------------
Selection: 2
['ABC', 'DEF']


========= Menu ========
Select on the below:
1 - Data Entry
2 - Display Students
3 - Exit
-----------------------
Selection: 3
Good bye..

In [33]:
i = 0

while True:
  i = int(input('i = '))
  if i == 1:
    print(i)
  elif i == 11:
    break;

i = a

ValueError: ignored

In [34]:
i = 0

while True:
  try:
    i = int(input('i = '))
    if i == 1:
      print(i)
    elif i == 11:
      break;
  except ValueError as e:
    print('Error: ', e)

i = 1
1
i = 2
i = 1
1
i = a
Error:  invalid literal for int() with base 10: 'a'
i = 1
1
i = 11