<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Week_10G1L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
a = 1
a == 1

for {...}:
--> {...}  

if {...}:
-->{...}  

def name(inArg):
--> {...}
-->return  
'''

In [1]:
# Example Slide 5.1

class Student():
  def __init__(self):
    self.StudentList = []

  def addStudent(self,name): 
    self. StudentList.append(name)

In [2]:
s = Student()
s.addStudent('ABC')

In [13]:
# Example Slide 5.1

class Student():
  def __init__(self):
    self.StudentList = []

  def addStudent(self,name): 
    self. StudentList.append(name)

s = Student()

while True:
  print('Please select 1 or 2')
  print('1 - Data Entry')
  print('2 - Exit')
  a = int(input('Selection: ')) 
  try:
    Opt = 1/a

    if Opt == 1:
      s.addStudent(input('Student Name: '))
    elif Opt == 0.5:
      break
    else:
      print('Wrong Selection. Try Again!!')    
    print('\n')
  except ZeroDivisionError as e:
    print('Error', e)

Please select 1 or 2
1 - Data Entry
2 - Exit
Selection: 1
Student Name: as


Please select 1 or 2
1 - Data Entry
2 - Exit
Selection: 2

In [17]:
# Example Slide 5.1

class Student():
  def __init__(self):
    self.StudentList = []

  def addStudent(self,name): 
    self. StudentList.append(name)
  
  def removeStudent(self,name):
    self.StudentList.remove(name)


s = Student()

while True:
  print('Please select 1 or 2')
  print('1 - Data Entry')
  print('2 - Remove Entry')
  print('3 - Exit')
  Opt = input('Selection: ')
  if Opt == '1':
    s.addStudent(input('Student Name: '))
  elif Opt == '2':
    try:
      s.removeStudent(input('Student Name: '))
    except ValueError as e:
      print('Error: ',e)
  elif Opt == '3':
    break
  else:
    print('Wrong Selection. Try Again!!')    
  print('\n')

Please select 1 or 2
1 - Data Entry
2 - Remove Entry
3 - Exit
Selection: 2
Student Name: ABC
Error:  list.remove(x): x not in list


Please select 1 or 2
1 - Data Entry
2 - Remove Entry
3 - Exit
Selection: 1
Student Name: ABC


Please select 1 or 2
1 - Data Entry
2 - Remove Entry
3 - Exit
Selection: 2
Student Name: ABC


Please select 1 or 2
1 - Data Entry
2 - Remove Entry
3 - Exit
Selection: 2
Student Name: ABC
Error:  list.remove(x): x not in list


Please select 1 or 2
1 - Data Entry
2 - Remove Entry
3 - Exit
Selection: 3

In [ ]:
x = [1, 2, 3,5, 7, 6, 9, 8 ]

In [22]:
import pandas as pd

Data = pd.read_csv('Data1.csv')
print(Data)

       X    Y    Z
0    953  428  407
1    838  288  484
2    669  456  391
3    125  272  495
4    523  275  255
..   ...  ...  ...
694  475  449  332
695  171  303  496
696  666  391  163
697   37  109  383
698  102  186  346

[699 rows x 3 columns]

In [23]:
Data.X

0      953
1      838
2      669
3      125
4      523
      ...
694    475
695    171
696    666
697     37
698    102
Name: X, Length: 699, dtype: int64

In [24]:
Data.X[0]

953

In [30]:
count=0
for i in Data.X:
  if i%2 == 0:
    count = count + 1
perct = count/len(Data.X) * 100    
print('Percentage of even number: %0.2f%%' %perct)

Percentage of even number: 47.78%