<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk3_G1L2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r = 1.2
Area = 22/7 * r **2
print(Area)

4.525714285714286

In [ ]:
FirstName = "Mohd"
LastName = 'Fauzi'

rev_order = LastName+' '+FirstName
print(rev_order)

Fauzi Mohd

In [ ]:
# Q3
no1 = int(input('No 1 = '))
no2 = int(input('No 2 = '))
no3 = int(input('No 3 = '))
no4 = int(input('No 4 = '))
no5 = int(input('No 5 = '))
no6 = int(input('No 6 = '))
no7 = int(input('No 7 = '))
no8 = int(input('No 8 = '))
no9 = int(input('No 9 = '))
no10 = int(input('No 10 = '))
Ans = no1*no2*no3*no4*no5*no6*no7*no8*no9*no10
print(Ans)

No 1 = 3
No 2 = 6
No 3 = 8
No 4 = 9
No 5 = 1
No 6 = 2
No 7 = 5
No 8 = 7
No 9 = 4
No 10 = 11
3991680

In [ ]:
for i in range(10):
  no1 = input('No '+str(i+1)+' = ')

No 1 = 2
No 2 = 9
No 3 = 10

In [ ]:
x = 5
print('Value of x is ' + str(x))

Value of x is 5

In [ ]:
x = 5
print('Value of x is', x)

Value of x is 5

In [ ]:
A = [6,9,3,8,5]
Ans6 = A[2]*A[3]
print(Ans6)

24

In [ ]:
X = [10,20,20,20]
Y = [10,25,30,40]

print(X[0]+Y[0])
print(X[0]+Y[1])
print(X[0]+Y[2])
print(X[0]+Y[3])

print(X[1]+Y[0])
print(X[1]+Y[1])
print(X[1]+Y[2])
print(X[1]+Y[3])

print(X[2]+Y[0])
print(X[2]+Y[1])
print(X[2]+Y[2])
print(X[2]+Y[3])

print(X[3]+Y[0])
print(X[3]+Y[1])
print(X[3]+Y[2])
print(X[3]+Y[3])

20
35
40
50
30
45
50
60
30
45
50
60
30
45
50
60

In [31]:
X = [10,20,20,20]
Y = [10,25,30,40]
c = 0
for i in X:
  for j in Y:
    if(i+j>50):
      c = c + 1

print('Count = ',c)

Count =  3