<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk4_G2L2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = int(input('a = '))
b = int(input('b = '))
if b > a:
  print('b is greater than a')
else:
  print('a is greater than b')

a = 20
b = 100
b is greater than a

In [4]:
for i in range(3):
  a = int(input('a = '))
  b = int(input('b = '))
  if b > a:
    print('b is greater than a')
  elif b==a:
    print('a is equal to b')
  else:
    print('a is greater than b')

a = 20
b = 90
b is greater than a
a = 80
b = 80
a is equal to b
a = 90
b = 199
b is greater than a

In [5]:
for i in range(3):
  a = int(input('a = '))
  b = int(input('b = '))
  if b > a:
    print('b is greater than a')
  else:
    if b == a:
      print('a is equal to b')
    else:
      print('a is greater than b')

a = 10
b = 200
b is greater than a
a = 200
b = 50
a is greater than b
a = 80
b = 80
a is equal to b

In [8]:
X = [5,3,7,8,9,10]
print(X)
print(X[0])
print(X[1])
print(X[2])
print(X[3])
print(X[4])
print(X[5])

[5, 3, 7, 8, 9, 10]
5
3
7
8
9
10

In [11]:
X = [5,3,7,8,9,10]
print(X)
for i in range(6):
  print(X[i])

[5, 3, 7, 8, 9, 10]
5
3
7
8
9
10

In [12]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [18]:
txt = "banana"
for x in range(3,6):
  print(txt[x])

a
n
a

In [22]:
count = 0
for x in range(3):
  count = count + 2
print(count)

2
4
6

In [33]:
X = [0,1,2,3,4]
sum = 0
for i in range(len(X)):
  if X[i]%2 == 0:
    sum = sum + X[i]
print(sum)

6

In [34]:
X = [0,1,2,3,4]

sum = 0
for i in X:
  if i%2 == 0:
    sum = sum + i
print(sum)

6

In [41]:
a,b,c = 0,10,2
count = 0
for i in range(a,b+1):
  if i%c == 0:
    count += 1
print(count)

6