<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk6_G2L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
x = 2
if x > 1:
  for i in range(2,x):
    if x%i == 0:
      print('x = %d is not prime number' %x)
      break
  else:
    print('x = %d is prime number' %x)
else:
  print('x = %d is not prime number' %x)

x = 2 is prime number

In [ ]:
''' Q4 L2.2'''
a,b = 0,100
count = 0
for x in range(a,b):
  if x > 1:
    for i in range(2,x):
      if x%i == 0:
        break
    else:
      print('x = %d is prime number' %x)
      count = count + 1
print('')
print('Total prime number from %d to %d is %d' %(a,b,count))

In [19]:
n = 1
R = 0.08206 # atm.L/(K.mol)
T = 514
P = 51 
V = n*R*T/P
print(V)

0.8270360784313724

In [22]:
type(V)

float

In [26]:
x = [3,6,5,4]
print(x)
x.append(60)
print(x)
x.remove(6)
print(x)

[3, 6, 5, 4]
[3, 6, 5, 4, 60]
[3, 5, 4, 60]

In [27]:
t = (1,6,4,3)
print(t)

(1, 6, 4, 3)

In [29]:
t1 = (1, 2,'a','b',True)
print(t1)

(1, 2, 'a', 'b', True)

In [30]:
for i in t:
  print(i)

1
6
4
3