<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk6_G1L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a,b = 0,13
count = 0
for i in range(b):
  if i > 1:
    #true
    for j in range(2,i):
      if i%j == 0:
        break
    else:
      print('Prime number: %d' %i)
      count = count + 1

print('Anwer: %d' %count)

Prime number: 2
Prime number: 3
Prime number: 5
Prime number: 7
Prime number: 11
Anwer: 5

In [11]:
#PV = nRT
m,Mw = 41.2, (12+2*16)
n = m/Mw
R = 0.08206 #L.atm/(K.mol)
T = 514 #K
P = 51 #atm
V = n*R*T/P
print('Answer, V = %0.3fL' %V)

Answer, V = 0.774L

In [15]:
x = [1,2,3,4]
print(x)
x.append(5)
print(x)

print(x[2])

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
3

In [19]:
t = (1,2,3,4)
print(t)
T = (1,2,3,'a')
print(T)
T1 = (1,2,3,'a',True)
print(T1)

(1, 2, 3, 4)
(1, 2, 3, 'a')
(1, 2, 3, 'a', True)

In [21]:
#PV = nRT
m,Mw = 41.2, (12+2*16)
n = m/Mw
R = 0.08206 #L.atm/(K.mol)
T = 514 #K
P = [51, 82, 22, 54, 71, 78, 48, 34, 48, 10] #atm
for p in P:
  V = n*R*T/p
  print('Answer: at P = %d; V = %0.3fL' %(p,V))

Answer: at P = 51; V = 0.774L
Answer: at P = 82; V = 0.482L
Answer: at P = 22; V = 1.795L
Answer: at P = 54; V = 0.731L
Answer: at P = 71; V = 0.556L
Answer: at P = 78; V = 0.506L
Answer: at P = 48; V = 0.823L
Answer: at P = 34; V = 1.162L
Answer: at P = 48; V = 0.823L
Answer: at P = 10; V = 3.949L

In [29]:
T = [1,2,23,4,5]
DO = [10,23,56,12,24]
print(T[2])

sel = int(input('T = '))
pr = T.index(sel)
print('DO = %d' %DO[pr])

23
T = 23
DO = 56

In [32]:
T = [1,2,23,4,5]
DO = [10,23,56,12,24]

for i in [2,5,23]:
  pr = T.index(i)
  print('at T = %i --> DO = %d' %(i,DO[pr]))

at T = 2 --> DO = 23
at T = 5 --> DO = 24
at T = 23 --> DO = 56

In [ ]:
a = 5
print('a = %d' %a)