<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk6_G2L2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = [2,4,3,8]
y = (1,2,3,4)

In [4]:
y = (1,2,3,'A','B')

print(x)

[2, 4, 3, 8]

In [5]:
print(x[3])

8

In [9]:
iter = 0
for i in x:
  iter=iter + 1
  print('Iteration: %d; i = %d'%(iter,i))

Iteration: 1; i = 2
Iteration: 2; i = 4
Iteration: 3; i = 3
Iteration: 4; i = 8

In [15]:
n = 41.2/(12+16*2)
R = 0.08206 #L.atm./(K.mol)
T = 514 #K
P = [51, 82, 22, 54, 71, 78, 48, 34, 48, 10]

V = n*R*T/P[0]

print('At P = %d atm, Volume = %0.3f L'%(P[0],V))

At P = 51 atm, Volume = 0.774 L

In [16]:
n = n = 41.2/(12+16*2)
R = 0.08206 #L.atm./(K.mol)
T = 514 #K
P = [51, 82, 22, 54, 71, 78, 48, 34, 48, 10]

for p in P:
  V = n*R*T/p
  print('At P = %d atm, Volume = %0.3f L'%(p,V))

At P = 51 atm, Volume = 0.774 L
At P = 82 atm, Volume = 0.482 L
At P = 22 atm, Volume = 1.795 L
At P = 54 atm, Volume = 0.731 L
At P = 71 atm, Volume = 0.556 L
At P = 78 atm, Volume = 0.506 L
At P = 48 atm, Volume = 0.823 L
At P = 34 atm, Volume = 1.162 L
At P = 48 atm, Volume = 0.823 L
At P = 10 atm, Volume = 3.949 L

In [17]:
n = n = 41.2/(12+16*2)
R = 0.08206 #L.atm./(K.mol)
T = 514 #K
P = [51, 82, 22, 54, 71, 78, 48, 34, 48, 10]

for i in range(len(P)):
  V = n*R*T/P[i]
  print('At P = %d atm, Volume = %0.3f L'%(P[i],V))

At P = 51 atm, Volume = 0.774 L
At P = 82 atm, Volume = 0.482 L
At P = 22 atm, Volume = 1.795 L
At P = 54 atm, Volume = 0.731 L
At P = 71 atm, Volume = 0.556 L
At P = 78 atm, Volume = 0.506 L
At P = 48 atm, Volume = 0.823 L
At P = 34 atm, Volume = 1.162 L
At P = 48 atm, Volume = 0.823 L
At P = 10 atm, Volume = 3.949 L

In [23]:
T = [0,8,16,24,32,40]
DO = [14.621,	11.843,	9.87,	8.47,	7.305,	6.413]

t = int(input('T = '))

idx = T.index(t)
do = DO[idx]
print('DO = %0.4f mg/L' %do)

T = 8
DO = 11.8430 mg/L

In [24]:
T = [0,8,16,24,32,40]
DO = [14.621,	11.843,	9.87,	8.47,	7.305,	6.413]

for i in range(3):
  t = int(input('T = '))
  idx = T.index(t)
  do = DO[idx]
  print('DO = %0.4f mg/L' %do)

T = 8
DO = 11.8430 mg/L
T = 16
DO = 9.8700 mg/L
T = 32
DO = 7.3050 mg/L

In [25]:
T = [0,8,16,24,32,40]
DO = [14.621,	11.843,	9.87,	8.47,	7.305,	6.413]
t = [8,16,32]
for i in t:
  idx = T.index(i)
  do = DO[idx]
  print('DO = %0.4f mg/L' %do)

DO = 11.8430 mg/L
DO = 9.8700 mg/L
DO = 7.3050 mg/L

In [29]:
x = {10,2,14,6,7}
print(x)
for i in x:
  print(i)

{2, 6, 7, 10, 14}
2
6
7
10
14

In [33]:
Car = {
    "Brand":"Ford",
    "Model":"Mustang",
    "Year":1964
}
print(Car["Brand"])
print(Car["Model"])

Ford
Mustang

In [37]:
x=[1,2,3,45,4,3,2]
print(x)
x.append(12)
print(x)
x.remove(3)
print(x)

[1, 2, 3, 45, 4, 3, 2]
[1, 2, 3, 45, 4, 3, 2, 12]
[1, 2, 45, 4, 3, 2, 12]

In [38]:
class House:
  floors = 3
  door = 5

print(House.door)

5

In [41]:
class House:
  floors = 3
  door = 5

h = House()
h.door = 6
k = House()

print(h.door)
print(k.door)

6
5

In [44]:
n = [0.035,	0.02,	0.015,	0.03,	0.022]
S = [0.0001,	0.0002,	0.001,	0.007,	0.003]
B = [10,	8,	20,	24,	15]
H = [2,	1,	1.5,	3,	2.5]

#Channel A, 
i = 0
U = (S[i]**0.5/n[i])*((B[i]*H[i])/(B[i]+2*H[i]))**(2/3)
print('Channel A: U = %0.3f m/s'%U)

Channel A: U = 0.362 m/s

In [46]:
n = [0.035,	0.02,	0.015,	0.03,	0.022]
S = [0.0001,	0.0002,	0.001,	0.007,	0.003]
B = [10,	8,	20,	24,	15]
H = [2,	1,	1.5,	3,	2.5]
lbl =['A','B','C','D','E']

for i in range(len(n)):
  U = (S[i]**0.5/n[i])*((B[i]*H[i])/(B[i]+2*H[i]))**(2/3)
  print('Channel %s: U = %0.3f m/s'%(lbl[i],U))

Channel A: U = 0.362 m/s
Channel B: U = 0.609 m/s
Channel C: U = 2.517 m/s
Channel D: U = 4.999 m/s
Channel E: U = 3.786 m/s