<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk7_G2L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1

In [ ]:
#code for question 1

# Q2

In [ ]:
#Code for question 2

# Wk7 G2L1

In [3]:
A = [1,4,6,7,5,9]
print(A) #access
A.append(12) # add
print(A)
A.remove(6)
print(A)

[1, 4, 6, 7, 5, 9]
[1, 4, 6, 7, 5, 9, 12]
[1, 4, 7, 5, 9, 12]

In [4]:
a = 1
b = 2
sum = a + b
print(sum)

3

In [9]:
a = input('a = ')
b = input('b = ')
sum = a + b
print(type(a))
print(sum)

a = 3
b = 4
<class 'str'>
34

In [11]:
Car1 = {
    'Model':'Proton',
    'Year':2021
}

print(Car1['Model'])

Proton

In [15]:
class Car:
  Model = 'Proton'
  Year = 2021

c = Car()
print(c.Model)

c2 = Car()
c2.Model = 'Proton Modified'
print(c2.Model)

c = Car()
print(c.Model)

Proton
Proton Modified
Proton

In [20]:
A = [1,5]
A.append(6)
print('{ ',A,'}')

{  [1, 5, 6] }

In [25]:
x = [51, 82, 22, 54, 71, 78, 48, 34, 48, 10]

count = 0
oddList = []
count2 = 0
oddList2 = []

for i in x:
  if i%2 == 1:
    count = count + 1
    oddList.append(i)
  else:
    count2 = count2 + 1
    oddList2.append(i)    

print('Total ODD number is',count,'=> ',oddList)
print('Total EVEN number is',count2,'=> ',oddList2)

Total ODD number is 2 =>  [51, 71]
Total EVEN number is 8 =>  [82, 22, 54, 78, 48, 34, 48, 10]

In [26]:
a = 1
b = 2
ans = a + b
print(ans)

3

In [27]:
import math

a = 1
b = 2
ans = a + math.exp(b)
print(ans)

8.38905609893065

In [34]:
import math
t = 5
for i in range(13):
  if t<= 11:
    v = 11*t**2-t
  elif t>11 and t<=20:
    v = 50*t + 2*(t-3)**2
  else:
    v = 3*math.exp(-3*t)
  print('At t = %d; v = %.5f' %(t,v))
  t = t + 2

At t = 5; v = 270.00000
At t = 7; v = 532.00000
At t = 9; v = 882.00000
At t = 11; v = 1320.00000
At t = 13; v = 850.00000
At t = 15; v = 1038.00000
At t = 17; v = 1242.00000
At t = 19; v = 1462.00000
At t = 21; v = 0.00000
At t = 23; v = 0.00000
At t = 25; v = 0.00000
At t = 27; v = 0.00000
At t = 29; v = 0.00000

In [37]:
import math
t = 5
print('===============')
print('t\tv')
print('===============')
for i in range(13):
  if t<= 11:
    v = 11*t**2-t
  elif t>11 and t<=20:
    v = 50*t + 2*(t-3)**2
  else:
    v = 3*math.exp(-3*t)
  print('%d\t%.2f' %(t,v))
  t = t + 2

===============
t	v
===============
5	270.00
7	532.00
9	882.00
11	1320.00
13	850.00
15	1038.00
17	1242.00
19	1462.00
21	0.00
23	0.00
25	0.00
27	0.00
29	0.00