<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_J22/blob/main/Wk7_G1L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x = [51, 82, 22,54, 71, 78, 48,34, 48, 10]
count = 0
for i in x:
  if i%2 == 1:
    count +=1
print('Total ODD number in x is %d' %count)

Total ODD number in x is 2

In [5]:
a,b = 3,6
ans = a + b**2

print(ans)

39

In [6]:
import math

t = 5
y = 3*math.exp(-3*t)

print(y)

9.177069615054774e-07

In [7]:
import math as m

t = 5
y = 3*m.exp(-3*t)

print(y)

9.177069615054774e-07

In [23]:
t = 3
for i in range(1,14): 
  t = t + 2 
  print(t)
  # Condition 1

  # Condition 2

  # Condition 3

5
7
9
11
13
15
17
19
21
23
25
27
29

In [18]:
import math

t = 4
if t<=10:
  v = 11*t**2 - t
elif t <= 20 and t> 11:
  v = 50*t + 2*(t-3)**2
else:
  v = 3*math.exp(-3*t)

print(v)

172

In [22]:
import math

t = 25
if t<=10:
  v = 1
elif t <= 20 and t> 11:
  v = 2
else:
  v = 3

print(v)

3

In [35]:
import math
t = 3
print('===============')
print('Time \tv')
print('===============')
for i in range(1,14): 
  t = t + 2 
  if t<=10:
    v = 11*t**2 - t
  elif t <= 20 and t>= 11:
    v = 50*t + 2*(t-3)**2
  else:
    v = 3*math.exp(-3*t)
  print('%d\t%d'%(t,v))

print('===============')

===============
Time 	v
===============
5	270
7	532
9	882
11	678
13	850
15	1038
17	1242
19	1462
21	0
23	0
25	0
27	0
29	0
===============

In [41]:
num = input('number = ')
for i in num:
  print(i)
print('Output: One Hundred Twenty Three')

number = 123
1
2
3
Output: One Hundred Twenty Three

In [42]:
import math

x = 3

ans = math.exp(x)

print(ans)

20.085536923187668